<launch>
  <rosparam command="load" file="$(env HOME)/ops_parameters.yaml" />
  <node pkg="om17" type="poser" name="poser" output="screen" />
  <node pkg="om17" type="world" name="world" output="screen" />
  <node pkg="om17" type="network.py" name="network" output="screen" />
  <node pkg="om17" type="watchdog.py" name="watchdog" output="screen" />
  <node pkg="om17" type="man_controls.py" name="man_controls" output="screen" />
  <node pkg="om17" type="driver_interface.py" name="driver_interface" output="screen" />
</launch>
